<template>
    <v-layout v-resize="onResize">
        <v-flex xs12 sm4 lg4 class="usuarios" v-if="showList">
            <v-toolbar color="primary" card dark dense>
                <v-toolbar-title>
                Contactos 
                </v-toolbar-title>
            </v-toolbar>
            <v-list two-line>
                <template  align-center justify-space-around wrap>
                    <v-list-tile :value="usuarioSelect && usuarioSelect.uid == contact.uid" @click="selectUser(contact)" v-for="contact of contactos" :key="contact.uid" active-class="usuario-select">
                        <!-- <div>
                            <v-list-tile-avatar size="40" >
                            <v-img :src="contact.Foto"></v-img>                           
                            </v-list-tile-avatar>
                        </div> -->
                        <v-list-tile-avatar>
                            <v-badge color="success" overlap>
                            <template v-if="contact.online" v-slot:badge>
                                <span></span>
                            </template>

                            <v-avatar size="40"> 
                                <v-img :src="contact.Foto"></v-img>  
                            </v-avatar>
                        </v-badge>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title v-html="contact.Nombre" class="monster-font"></v-list-tile-title>
                            <v-list-tile-sub-title v-html="contact.ultimoMensaje"></v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action v-if="contact.cantidadMensajes > 0">
                            <v-badge color="primary" overlap>
                                <span slot="badge">{{contact.cantidadMensajes}}</span>
                            </v-badge>
                        </v-list-tile-action>
                    </v-list-tile>
                </template>
            </v-list>
        </v-flex>
        <v-flex xs12 sm8 lg8 v-if="showChat">
            <v-container fill-height class="pa-0 ma-0">
                <v-layout align-end>
                   <v-flex>
                        <v-card color="#f7faff" :class="showList ? 'ml-3' : 'ml-0'">
                            <v-toolbar color="primary" card dense dark>
                                <v-toolbar-title>
                                    <v-icon v-if="isMovil" @click="Regresar" class="mr-2">arrow_back</v-icon>
                                    <v-avatar color="white" dize="30">
                                        <v-img :src="usuarioSelect.Foto"></v-img>
                                    </v-avatar>
                                    <span class="ml-4 monster-font">{{usuarioSelect.Nombre}}</span>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-container ref="chatContainer" class="pa-0 ma-0 scroll-y">
                                <v-card-text :style="'max-height: '+height+'px;'">
                                    <v-flex xs7 :offset-xs5="item.uid == usuario.uid" class="my-3" v-for="item in chat" :key="item.mid">
                                    <v-layout column>
                                            <v-badge  :left="item.uid != usuario.uid ? true : false" :bottom="item.uid != usuario.uid ? false : true"  overlap>
                                                <template v-slot:badge>
                                                <v-avatar size="30">
                                                    <v-img :src="item.uid != usuario.uid ? usuarioSelect.Foto : usuario.Foto "></v-img>
                                                </v-avatar>
                                                </template>
                                                <v-card :color="item.uid != usuario.uid ? 'white' : '#c3d9ff'" elevation="1" class="chat-mensaje">
                                                    <v-card-text>
                                                        <div>{{item.texto}}</div>
                                                    </v-card-text>
                                                </v-card>
                                            </v-badge>
                                            <div class="chat-fecha">{{convertirFecha(item.fechaEnvio)}}</div>
                                    </v-layout>
                                </v-flex>
                                </v-card-text>
                            </v-container>
                            <v-card-text>
                                <v-text-field ref="txtMensaje" v-model="mensaje" @keyup.enter="enviarMensaje" :loading="enviandoMensaje" :disabled="enviandoMensaje" solo hide-details label="Escribe un mensaje"></v-text-field>
                            </v-card-text>
                        </v-card>
                   </v-flex>
                </v-layout>
            </v-container>
        </v-flex>
    </v-layout>
</template>

<script>
import { db } from '@/firebase'
import uuidv4 from 'uuid/v4'

export default {
    props: ['usuario'],
    data() {
        return {
            contactos: [],
            usuarioSelect: null,
            chat: [],
            mensaje: '',
            enviandoMensaje: false,
            cid: null,
            detenerChat: null,
            height: 0
        }
    },
    created(){
        this.consulContact()
    },
    methods: {
        onResize(){
            this.height = window.innerHeight - 252
        },
        convertirFecha(timeStamp){
            return timeStamp.toDate().toISOString().substring(0, 16).replace('T', ' ')
        },
        Regresar(){
            this.usuarioSelect = null
        },
        Notificacion (mensaje, color){
            this.$emit('onNotificacion', {mensaje, color})
        },
        generarChatId(uid1, uid2){
            return uid1 < uid2 ? `${uid1}-${uid2}` : `${uid2}-${uid1}`
        },
        async selectUser(usuario){
            this.cid= this.generarChatId(this.usuario.uid, usuario.uid)
            try {
                let doc = await db.collection('contacto')
                .doc(this.cid)
                .get()
                if (!doc.exists) {
                    await db.collection('contacto')
                    .doc(this.cid)
                    .set({cid: this.cid})
                }
                this.usuarioSelect = usuario
                this.consulChat()
            } catch (error) {
                this.Notificacion('Ocurrio un error al consultar tu lista de contactos', 'error')
            }
        },
        consulChat(){
            this.chat= []
            if (this.detenerChat){
                this.detenerChat()
            }
           this.detenerChat= db.collection('contacto')
            .doc(this.cid)
            .collection('chat')
            .orderBy('fechaEnvio')
            .onSnapshot(snapshot => [
                snapshot.docChanges().forEach(change => {
                    if (change.type == 'added') {
                        let mensaje = change.doc.data()
                        this.chat.push(mensaje)
                        if (!mensaje.fechaLeido && mensaje.uid != this.usuario.uid) {
                            this.marcarMensajeLeido(mensaje)
                        }
                    }
                    this.$nextTick(() => {
                        if (this.$refs.chatContainer){
                            this.$refs.chatContainer.scrollTop = 100000
                        }
                    })
                })
            ],
            () => {
               this.Notificacion('Ocurrio un error recuperando los mensajes', 'error') 
            })
        },
        marcarMensajeLeido(mensaje){
            let batch = db.batch()
            batch.update(
                db.collection('contacto')
                .doc(this.cid)
                .collection('chat')
                .doc(mensaje.mid),
                { fechaLeido: new Date() }
            )
            batch.delete(
                db.collection('usuario')
                .doc(this.usuario.uid)
                .collection('chat-sin-leer')
                .doc(mensaje.mid)
            )
            batch.commit()
        },
        async consulContact() {
            try {
                let docs = await db.collection('usuario').get()
                docs.forEach(doc => {
                    let usuario = doc.data()
                    if (usuario.uid !== this.usuario.uid) {
                        usuario.cantidadMensajes= 0
                        usuario.ultimoMensaje = ''
                        if (usuario.Status){usuario.online=true}else{usuario.online=false}
                        this.contactos.push(usuario)
                    }
                })
                this.updateUser()
                this.consultarChatSinLeer()
            }
            catch (error) {
                this.Notificacion('Ocurrio un error al consultar tu lista de contactos', 'error')
            }
        },
        updateUser(){
            db.collection('usuario')
            .onSnapshot(snapshot => {
                snapshot.docChanges().forEach(change => {
                    let onUser = change.doc.data()
                    let usuario = this.contactos.find(u => u.uid == onUser.uid)
                    if (usuario){
                        switch (change.type) {
                            case 'modified':
                                usuario.online = onUser.Status
                                break;
                        }
                    }
                })
            },
            (error) => {
               this.Notificacion(error, 'error') 
            })
        },
        consultarChatSinLeer(){
            db.collection('usuario')
            .doc(this.usuario.uid)
            .collection('chat-sin-leer')
            .orderBy('fechaEnvio')
            .onSnapshot(snapshot => {
                snapshot.docChanges().forEach(change => {
                    let mensaje = change.doc.data()
                    let usuario = this.contactos.find(u => u.uid == mensaje.uid)
                    if (usuario) {
                        switch (change.type) {
                            case 'added':
                                usuario.cantidadMensajes++
                                usuario.ultimoMensaje = mensaje.texto
                                break;
                            case 'removed':
                                usuario.cantidadMensajes--
                                usuario.ultimoMensaje = ''
                                if (usuario.cantidadMensajes < 0) {
                                    usuario.cantidadMensajes = 0
                                }
                            break
                        }
                    }
                })
            }, 
            ()=> {
                this.Notificacion('Ocurrio un error recuperando mensaje sin leer', 'error')
            })
        },
        async enviarMensaje(){
                if (!this.mensaje || this.enviandoMensaje) {return}
            this.enviandoMensaje = true
            let mid = uuidv4()
            let mensajeEnviado = {
                mid,
                texto: this.mensaje,
                fechaEnvio: new Date(),
                uid: this.usuario.uid
            }
            let batch = db.batch()

            batch.set(
                db.collection('contacto')
                .doc(this.cid)
                .collection('chat')
                .doc(mid),
                mensajeEnviado
            )
            batch.set(
                db.collection('usuario')
                .doc(this.usuarioSelect.uid)
                .collection('chat-sin-leer')
                .doc(mid),
                mensajeEnviado
            )
            try {
                await batch.commit()

                this.mensaje = ''
            } catch (error) {
                this.Notificacion('Ocurrio un error enviando el mensaje, intentalo nuevamente', 'error')
            }
            finally {
                this.enviandoMensaje = false
                this.$nextTick(() => {
                     this.$refs.txtMensaje.focus()
                })
            }
        }
    },
    computed: {
        isMovil(){
            return this.$vuetify.breakpoint.width < 600
        },
        showList(){
            return this.contactos && (!this.isMovil || !this.usuarioSelect)
        },
        showChat(){
            return this.contactos && this.usuarioSelect
        }
    }    
}
</script>

<style>

.usuario-select {
    background-color: #bad2ff
}

.usuarios {
    background-color: #dfdfdf;
}

.chat-mensaje{
    border-radius: 10px
}

.chat-fecha{
    font-size: 0.8rem;
    margin: 3px;
    color: #929292;
    margin-left: 10px
}
.avatar-chat{
    justify-content: flex-start;
    
}
</style>