<template>
    <v-layout justify-center align-center>
        <v-flex xs12 sm8 md6 lg5 xl4>
            <v-card>
                <v-toolbar color="primary" dark card>
                    <v-toolbar-title>
                        Ingresa tu Email y Contraseña
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-text-field autofocus v-model="email" label="Email"></v-text-field>
                    <v-text-field @keyup.enter="Login" v-model="password" label="Password" type="password"></v-text-field>
                </v-card-text>
                <v-card-text>
                    <v-layout justify-end>
                        <v-btn @click="Login" color="secondary">Ingresar</v-btn>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
  import {auth, db} from '@/firebase'

  export default {
    data() {
        return  {
            email: '',
            password: ''
        }
    },
    methods: {
        Login() {
            if (!this.email) {
                this.sendNotify('Debes ingresar un email', 'warning')
                return 
            }
            if (!this.password) {
                this.sendNotify('Debes ingresar una contraseña', 'warning')
                return 
            }
            this.$store.dispatch('Login', {
                email: this.email,
                password: this.password
            })
            .then(response => {
                this.$router.push({ name: 'chat' })
            })
            .catch(error => {
                switch (error.code) {
                    case 'auth/wrong-password':
                    case 'auth/user-not-found':
                        this.sendNotify('Email o Contraseña incorrectas','warning')
                        break
                    default:
                        this.sendNotify('Ocurrio un error, verifique la informacion', 'error')
                        break;
                }
            })
        },
        sendNotify(mensaje,color){
            this.$emit('onNotificacion', { mensaje, color })
        }
    }
  }
</script>