<template>
    <v-layout justify-center align-center>
        <v-flex xs12 sm8 md6 lg5 xl4>
            <v-card>
                <v-toolbar color="primary" dark card>
                    <v-toolbar-title>
                        _Iniciaste Sesion {{usuario.Nombre}}
                    </v-toolbar-title>
                </v-toolbar>
            </v-card>
        </v-flex>
    </v-layout>
</template>