<template>
  <v-app>
    <v-toolbar app color="primary" dark>
      <v-toolbar-title class="headline monster-font">
        Monster Chat
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-layout v-if="EndSession" align-center justify-end>
        <v-avatar size="40" color="white">
          <v-img v-if="usuario" :src="usuario.Foto"></v-img>
        </v-avatar>
        <span v-if="usuario" class="ml-3 monster-font">{{usuario.Nombre}}</span>
      <v-btn @click="logout" color="primary">Salir</v-btn>
      </v-layout>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height class="fondo">
        <router-view @onNotificacion="showNotify" :usuario="usuario"/>
      </v-container>
    </v-content>

    <v-snackbar v-model="notificacion.visible" :color="notificacion.color" multi-line top :timeout="6000" dark>
      <span>{{notificacion.mensaje}}</span>
      <v-btn color="white" flat @click="notificacion.visible = false">
        Cerrar
      </v-btn>
    </v-snackbar>
    <v-footer color="primary" dark>
      <v-layout justify-center>
        <span>Gracia y Paz - Ing Gerard Rincon</span>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import {auth, db, signOut} from '@/firebase'


export default {
  name: 'App',
  data() {
    return {
      usuario : null,
      notificacion: {
        mensaje: '',
        color: 'info',
        visible: false
      }
    }
  },
  beforeUpdate() {
    this.datosUser()
  },
  created(){
    this.datosUser()
  },
  methods: {
    showNotify(notificacion){
      this.notificacion.mensaje = notificacion.mensaje
      this.notificacion.color = notificacion.color
      this.notificacion.visible = true

    },
    logout(){
      let us=  window.$cookies.get('user_token')
      this.$store.dispatch('Logout',us)
      .then(response => {
                this.$router.push({ name: 'login' })
            })
    },
    async datosUser(){
        if (this.$store.getters.EndSession) {
        let u = window.$cookies.get('user_token')
        let doc = await db.collection('usuario').doc(u).get().then(response => this.usuario = response.data())
      }
    }
  },
  computed: {
    EndSession(){
      return this.$store.getters.EndSession
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.monster-font {
  font-family: 'Gloria Hallelujah', cursive !important;
}
.fondo{
  background-color: #f1f1f1;
}
</style>